.sou-eu-bg{
    background-color: var(--cor-1);
}

.sou-eu-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 20px 80px 20px;
}

.sou-eu-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.sou-eu-conteudo > img{
    border-radius: 50%;
}

.sou-eu-conteudo h1{
    font-size: 2rem;
    margin-bottom: 40px;
}

.sou-eu-conteudo h2{
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #0bbcff;

}

.sou-eu-conteudo p{
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.sou-eu-conteudo span{
    font-weight: 600;
    color: #0bbcff;

}

@media(max-width:880px){
    .sou-eu-conteudo{
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
}

}